html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}
#root {
  background-repeat: no-repeat;
  background-size: 100% auto;
}

/* 定义滑块样式 */
::-webkit-scrollbar-thumb {
  background-color: #a5a5a5;
  border-radius: 10px;
}

/* 定义滑轨样式 */
::-webkit-scrollbar-track {
  background-color: #f2f2f2;
  border-radius: 10px;
}

/* 定义滑块在hover状态下的样式 */
::-webkit-scrollbar-thumb:hover {
  background-color: #7f7f7f;
}

/* 定义滑块在active状态下的样式 */
::-webkit-scrollbar-thumb:active {
  background-color: #555555;
}

/* 定义滑轨的宽度和高度 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* 定义滑轨的边框 */
::-webkit-scrollbar-track {
  /* border: 1px solid #cccccc; */
}

/* 定义滑块的最小高度 */
::-webkit-scrollbar-thumb {
  min-height: 20px;
}

/* 定义滑块的最小宽度 */
::-webkit-scrollbar-thumb {
  min-width: 20px;
}

/* 定义滑块的边框 */
::-webkit-scrollbar-thumb {
  /* border: 1px solid #cccccc; */
}
